---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Este es mi nuevo Blog</h2>
  <Greeting client:load messages={["¡Hola!", "¡Hey! ¿Como estás?", "¡Bienvenid@!"]} />
    
</BaseLayout>
